<!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>Registration page</title>
      <style>
        form {
          width: 420px;
        }

        div {
          margin-bottom: 20px;
        }

        label {
          display: inline-block;
          width: 240px;
          text-align: right;
          padding-right: 10px;
        }

        button, input {
          float: right;
        }
      </style>
    </head>
    <body>
      <form method="post" action="">
        <div>
          <label for="username">USERNAME</label>
          <input name="name" id="name" value="">
        </div>
        <div>
          <label for="password">PASSWORD</label>
          <input name="password" id="password" value="">
        </div>
        <div>
          <button>Register my account!</button>
        </div>
      </form>
    </body>
  </html>